table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    table-layout: fixed;
    margin-bottom: 50px;
}

thead th {
    text-align: center;
}

.pagination {
    margin-left : 5%;
}

.userId,.id {
    width: 5%;
}

.title {
    width: 30%
}

tbody td {
    text-align: justify;
}
